@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@100&family=Montserrat:wght@300&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}


*, *::before, *::after {
	box-sizing: inherit;
}



/*         HEADER             */


.header__name {
    font-weight: 800;
    font-size: 1.5em;
    transition: .4s;
}


.header {
    height: 8em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.all-content__inner {
    width: 80%;
    margin: 0 auto;
}

.header__title  img{
    width: 4em;
    height: 4em;
}

.header__switch input {
    display: none;
}

.header__switch {
    position: relative;
    display: inline-block;
    width: 4em;
    height: 2.1em;
}

.header__dark-theme p {
    color: black;
}

.header__dark-theme {
    display: flex;
    align-items: center;
    width: 250px;
    justify-content: space-between;
    transition: .4s;
}

.all-content {
    min-height: 100vh;
    transition: .4s;
}

.header__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 204, 255);
    transition: .4s;
    border-radius: 34px;
}

.header__slider:before {
    border-radius: 50%;
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked + .header__slider {
    background-color: rgb(9, 54, 112);
}

input:checked + .header__slider::before {
    transform: translateX(26px);
}

/*         MAIN       */

:root {
    --main: #2F4858;
    --white: #fff;
  }
  * {
    padding: 0;
    margin: 0;
    transition: all 0.3s;
  }
  #app{
    width: 100%;
    box-shadow: 0 3px 20px #00000023;
    font-family: 'Gilroy', sans-serif;
    padding: 10px;
    margin: 20px 0 0 20px;
    color: var(--main);
  }

  .task__btn {
      padding: 1em 1em 1em 1em;
  }

  .stats {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    background-color: var(--main);
  }
  .stats__title {
    text-align: center;
    padding: 10px;
    color: var(--white);
    font-weight: 500;
  }

  .task {
      flex-wrap: wrap;
      margin-top: 1em;
      padding: 1em 1em 1em 1em;
      border: var(--main) solid 2px;
      border-radius: 5px;
      margin-left: 1em;
      width: 20%;
  }

  .task_button {
      text-align: center;
  }


  .task__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
    margin-top: 2em;
    padding: 10px;
  }



  .task__title {
    font-size: 1.2em;
  }
  .task__desc {
    margin-top: 0.5em;
    font-weight: 500;
    font-size: 1.1em;
  }
  .task__done {
    height: 30px;
    width: 30px !important;
    border: none;
    background-color: unset;
  }
  .task__done:hover {
    cursor: pointer;
    border-radius: 4px;
    background-color: #9ee493bb;
  }
  .add_task {
    display: flex;
    
  }
  .add_task__input {
    width: 80%;
  }
  .add_task__input input, textarea {
    width: 100%;
    max-width: 100%;
    padding: 5px 0 5px 5px;
    font-family: 'Gilroy',sans-serif;
    border: 2px solid #2f485811;
    border-radius: 4px;
  }
  .add_task__input input {
    margin-bottom: 5px;
  }
  .add_task__btn {
    width: 20%;
    border: none;
    margin-left: 20px;
    background-color: unset;
  }
  .add_task__btn:hover {
    cursor: pointer;
    border-radius: 4px;
    background-color: #2f485811;
  }
  



/*      FOOTER    */


.footer {
    margin-top: 5em;
    display: flex;
    font-size: 1.2em;
    font-weight: 800;
    flex-wrap: wrap;
    justify-content: space-around;
}