<html>
    <head>
        <title>Exam</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/styles-light.css">
        <link rel="stylesheet" href="css/styles-dark.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <div class="all-content" :class="[isDarkModeOn ? 'all-content-d' : '']">
            <div class="all-content__inner">
                <header class="header">
                    <div class="header__title" :class="[isDarkModeOn ? 'header__title-d' : '']">
                        <img src="img/logo-1x.png" srcset="img/logo-1x.png 1x, img/logo-2x.png 2x,
                        img/logo-3x.png 3x"> 
                     </div>
                    <div class="header__name">
                        Lachinov
                    </div>
                    <div class="header__dark-theme">
                        <h2 :class="[isDarkModeOn ? 'header__dark-theme-text-d' : '']">Тёмная тема</h2>
                        <label class="header__switch">
                            <input type="checkbox" v-model="isDarkModeOn">
                            <span class="header__slider"></span>
                        </label>
                    </div>
                </header>
                <main>
                    <div id="app">
                    
                        <div class="stats">
                          <h3 class="stats__title">{{"Текущих задач: "+ tasks.length}}</h3>
                          <button class="task__btn" @click="open">❎</button>
                        </div>
                    
                        
                        <div class="add_task" v-if="showModal">
                          <div class="add_task__input">
                              <textarea placeholder="Описание" type="text" v-model="new_task.desc"></textarea>
                          </div>
                          <div class="choice">
                              <p>Уровень важности</p>
                            <form>
                          <label class="container">Первый
                            <input type="radio" value="100px" name="one" v-model="checked">
                            
                        </label>
                        <label class="container">Второй
                            <input type="radio" value="200px" name="one" v-model="picked">
                        </label>
                        <label class="container">Третий
                            <input type="radio" value="300px" name="one" v-model="picked">
                            
                        </label>
                        </form>
                        </div>
                          <button  class="add_task__btn" @click="add_task">➕</button>
                        </div>
                        
                    
                        <div class="task__list">
                        <task @task_done="delete_task(index)" :key="index" v-for="(data,index) in tasks" :data="data" ></task>
                        </div>
                        </div>

                    </div>
                </main>

                <footer>
                    <div class="footer" :class="[isDarkModeOn ? 'header__dark-theme-text-d' : '']">
                        <div class="footer__FIO">
                            Лачинов Лачин Артурович
                        </div>
                        <div class="footer__group">
                            191-362
                        </div>
                        <div class="footer__data">
                            09.07.2021
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </body>
    <script src="js/script.js"></script>

</html>